:root {
    --headingfont: "Cardo", serif;
    --textfont: "Roboto", serif;
    --color1: #3D5A80;
    --color2: #98C1D9;
    --color3: #E0FBFC;
    --color4: #f67935;
    --color5: #293241;
}

* {
    margin: 0;
    box-sizing: border-box;
}

p {
    font-family: var(--textfont);
}

h1,
h2,
h3,
h4 {
    font-family: var(--headingfont);
}

header {
    display: flex;
    align-items: center;
    color: var(--color1);
    text-align: center;
}

header h2 {
    font-size: .9rem;
}

/* menu icon */
.menu {
    color: var(--color5);
    font-size: 50px;
    font-weight: 500;
    flex: 1 1 auto;
    text-align: right;
    padding-right: 1rem;
}

.menu::before {
    content: "≡";
}

.menu.show::before {
    content: "X";
    font-size: 40px;
    font-weight: 400;
}

/* nav */

.navigation {
    display: none;
}

.navigation.show {
    display: flex;
    flex-direction: column;
}

nav ul {
    font-size: large;
    list-style-type: none;
    padding: 0;
    background-color: #e0fbfcb9;
}

.active {
    background-color: #3d5a8033;
}

nav a:hover,
.card a:hover,
.hero .call-to-action:hover,
form button:hover {
    background-color: #3d5a80;
    color: #f6fefeca;
}

a {
    display: block;
    text-decoration: none;
    padding: 1rem;
    color: var(--color5);
}

/* main */

.hero {
    position: relative;
}


.hero-img {
    width: 100%;
    height: auto;
}

.hero-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #293241;
    padding: 1rem;
    text-align: center;
    color: #f9f9f9d8
}

.hero-card p {
    padding: .5rem;
}

.hero .call-to-action {
    display: block;
    position: absolute;
    right: 2%;
    bottom: 5%;
    font-size: smaller;
    padding: 0;
    max-width: 200px;
    border-radius: .5rem;
    border: 1px solid #98c1d9bd;
}

.call-to-action a {
    color: #f6fefeca;
    padding: .5rem;
}

.search {
    display: flex;
    padding-top: .5rem;
    justify-content: center;
    align-items: center;
}

.search input {
    height: 40px;
    width: 75%;
}

#join h2 {
    text-align: center;
    padding: 1rem;
    font-size: 1.7rem;
    color: #3D5A80;
}

/* Home info section */

#home-info {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 1rem 3rem;
    font-size: 12.8px;
}

.home-heading {
    margin: .5rem 3rem;
    font-size: 2rem;
}

#home-info>section {
    background-color: #e5e6ea;
    border: 1.5px solid #29324162;
    display: flex;
    flex-direction: column;
}

#home-info>section h3 {
    padding: .5rem 1rem;
    font-size: 1.5rem;
    background-color: #293241;
    color: #f9f9f9d8;
    font-weight: 200;
    width: 100%;
}

/* events */

.events {
    overflow-y: auto;
    max-height: 330px;
    min-width: min-content
}

.events .list .card {
    grid-template-columns: 1fr 1fr 1fr;
    padding: .5rem 1rem;
    background-color: transparent;
    box-shadow: 0 0 1px var(--color1);
}

.events .card:nth-child(even) {
    background-color: #98C1D9;
}

/* weather */
.current-weather {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--color2);
    padding: .5rem;
    height: 100%;
}

.weather-description {
    text-transform: capitalize;
}

.forcast {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;

}

.forcast .forcast-card {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color2);
    box-shadow: 0 0 2px #293241;
    padding: .5rem;
}

.forcast-card img,
.current-weather img {
    width: 100%;
    max-width: 100px;
    height: auto;
}

/* business cards */

.business-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    padding: 1rem 2rem;
    text-align: center;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e0fbfcac;
    padding: 2rem;
    word-wrap: break-word;
    box-shadow: 0 0 4px 1px var(--color1);
}

.card a {
    padding: 0;
    word-break: break-all;
}

.card img {
    width: 200px;
    height: auto;
    padding-bottom: 1rem;
}

/* spotlight businesses */
.spotlight {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 3rem 3rem;
    padding: 0;
}

.spotlight .card {
    padding: 0;
    border-radius: 1rem;
}

.spotlight h4 {
    padding: .5rem;
    font-size: 15px;
}

.spotlight .card>div {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding: .5rem;
    font-size: 12.8px;
    flex: 1;
}

.spotlight .card>div:nth-child(2) {
    border-top: 1px solid var(--color5);
    flex: 2;
}

.spotlight .card img {
    width: 100px;
    height: auto;
    padding: 0;
}

.spotlight .membership {
    text-align: center;
    font-weight: 500;
    letter-spacing: .05rem;
    font-size: 8px;
}

.spotlight .membership div {
    border-radius: 50%;
    padding: .8rem .1rem;
}

/* form */
form {
    padding: 2rem;
    margin: 0 auto;
    max-width: 80%;
    background-color: #293241;
    color: #f9f9f9d8
}

form h3 {
    text-align: center;
    padding-bottom: 1rem;
    font-weight: 400;
    font-size: 1.5rem;
}

form p {
    text-align: right;
    font-size: smaller;
}

form label {
    display: grid;
    padding-top: .5rem;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr 2fr;
}

form span {
    grid-row: 1/2;
    grid-column: 2/3;
}


form input,
form select,
form textarea {
    height: 40px;
    padding-left: .5rem;
    grid-row: 2/3;
    grid-column: 1/3;
}

.required {
    color: rgb(255, 109, 109);
}

form button {
    width: 70%;
    margin: 5% 15%;
    height: 40px;
}

/* membership cards */
#membership-cards {
    width: 80%;
    margin: 1rem auto;
}

#membership-cards .card {
    margin-bottom: 1rem;
    border: 1px solid #293241;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.788);
    z-index: 1;
}

#membership-cards h3 {
    font-size: 1.5rem;
}

#membership-cards h3,
#membership-cards h4 {
    font-weight: 600;
    text-align: center;
    padding: 1rem;
}

.bronze {
    background-color: #ba8651;
}

.silver {
    background-color: #dcdcdc;
}

.gold {
    background-color: #ffd900;
}


/* membership animation */

#membership-cards .shine {
    position: relative;
    overflow: hidden;
}

#membership-cards .shine::before {
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 254, 242, 0.55) 50%, rgba(255, 255, 255, 0) 100%);
    content: "";
    position: relative;
    overflow: hidden;
    display: block;
    height: 100%;
    width: 20%;
    left: -50%;
    top: 0;
    position: absolute;
    transform: skewX(-25deg);
    animation: shine 2s;
    z-index: 2;
}

#membership-cards .shine::after {
    content: "\2734";
    color: rgb(255, 255, 255);
    font-size: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
    overflow: visible;
    animation: star .5s ease-in-out both;
}

@keyframes shine {

    100% {
        left: 100%;
    }
}

@keyframes star {

    0% {
        opacity: 0;
    }

    25% {
        transform: scale(1);
    }

    50% {
        opacity: 1;
        transform: scale(2);
    }

    75% {
        transform: scale(1);
    }

    100% {
        opacity: 0;
        transform: scale(1);
    }
}

#membership-cards .np::before {
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #ffffffd3 50%, rgba(255, 255, 255, 0) 100%);
}

#membership-cards .np::after {
    animation-delay: 1s;
}

#membership-cards .bronze::before {
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #ffd7af96 50%, rgba(255, 255, 255, 0) 100%);
    animation-delay: 2s;
}

#membership-cards .bronze::after {
    animation-delay: 3s;
}

#membership-cards .silver::before {
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #fffefead 50%, rgba(255, 255, 255, 0) 100%);
    animation-delay: 4s;
}

#membership-cards .silver::after {
    animation-delay: 5s;
}

#membership-cards .gold::before {
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #fff6c1b8 50%, rgba(255, 255, 255, 0) 100%);
    animation-delay: 6s;
}

#membership-cards .gold::after {
    animation-delay: 7s;
}


/* modal dialog box */
dialog {
    margin: auto auto;
    width: 40%;
}

dialog::backdrop {
    background-color: rgba(240, 248, 255, 0.567);
}

dialog p {
    padding: .5rem;
    text-align: left;
}

dialog button {
    width: 40%;
    margin: 1rem 30%;
}

/* view buttons */

.options {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin-top: 1rem;
}

.options button {
    background-color: #3D5A80;
    padding: .8rem 2rem;
    border-radius: .5rem;
    color: #f9f9f9d8;
    font-size: 20px;
}

/* list view */

.list {
    display: inline;
}

.list .card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
    text-align: left;
    font-size: .8rem;
}

.list img {
    display: none;
}

.list a {
    word-break: break-all;
}

.list section:nth-child(even) {
    background-color: #98c1d9b0;
}

/* error message */

.message {
    text-align: center;
    padding: 1rem;
    background-color: var(--color4);
}

/* thank you page */
#thankyou {
    background-color: #e0fbfcb9;
    margin: 2rem;
    border: 1px solid #3d5a80;
}

#thankyou p:first-child {
    text-align: center;
    font-size: 1.2rem;
}

#thankyou p {
    padding: 1rem;
}

#thankyou a {
    display: inline;
    padding: 0;
}

#thankyou a:hover,
.discover-info section a:hover {
    text-decoration: underline;
    color: #3D5A80
}

/* discover page */

#discover-page {
    max-width: 1000px;
    width: 90%;
    margin: 1rem auto;
}

#discover-page h2,
#discover-page h3 {
    text-align: center;
    color: var(--color1);
    padding-bottom: 1rem;
}

#discover-page h3 {
    font-size: 1.5rem;
}

#discover-page .discover-info {
    margin: 0;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.discover-info section p {
    padding: 1rem;
}

.discover-info section a,
.discover-info .visit a {
    font-size: 1.2rem;
    padding: 1rem;
    text-align: center;
}

#discover-page .discover-info img {
    margin: 1rem auto;
    border: 1px solid var(--color5);
    max-width: 90%;
    height: auto;
}

#discover-page .discover-images {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 1rem auto;
}

.discover-info .visit a {
    font-size: 1.2rem;
    padding: 1rem;
}

/* Footer */

footer {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    padding: 1rem;
    font-size: .8rem;
}

.social-media {
    display: flex;
    align-self: center;
}

.social-media a {
    padding: .5rem;

}

/* small screen */

@media only screen and (max-width: 450px) {
    header img {
        width: 100px;
        height: 100px;
    }

    header h1 {
        font-size: 5vw;
    }

    header h2 {
        font-size: 3vw;
    }

}

/* large screen */

@media only screen and (min-width: 740px) {

    .navigation,
    .navigation.show {
        display: flex;
        flex-direction: row;
        justify-content: right;
        padding-top: .5rem;
    }

    nav li {
        flex: 1;
        max-width: 170px;
        text-align: center;
    }

    .menu {
        display: none;
    }

    .active {
        background-color: white;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
    }

    nav a:hover {
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
    }

    .hero {
        margin-top: 2rem;
    }

    .hero-img {
        width: 100%;
    }

    .hero-card {
        background-color: #354b58d3;
        width: 32%;
        height: 80%;
        position: absolute;
        top: 10%;
        left: 2%;
    }

    .hero-card h2 {
        font-size: 3.5vw;
    }

    .hero-card p {
        font-size: 1.5vw;
    }

    .hero .call-to-action {
        top: auto;
        left: auto;
        height: auto;
        font-size: 100%;
        max-width: fit-content;
    }

    #home-info {
        display: grid;
        grid-template-columns: 1.5fr 1fr 1.5fr;
        gap: 2rem;
    }

    .current-weather {
        flex-direction: column;
    }

    .forcast {
        flex-direction: row;
        height: 100%;
    }

    .forcast-card {
        flex-direction: column;
    }

    .social-media img {
        width: 50px;
    }

    .spotlight {
        flex-direction: row;
    }

    #join {
        display: grid;
    }

    #join h2 {
        grid-column: 1/2;
        padding: 2rem;
    }

    #membership-cards {
        grid-column: 2/3;
    }

    #join .form {
        grid-column: 1/2;
    }

    #discover-page {
        display: grid;
        gap: 1rem;
        grid-template-columns: 1.5fr 2fr;
    }

    #discover-page .discover-images {
        margin: 0 auto;
    }

    .welcome-message {
        grid-column: 2/3;
    }

    #discover-page h2,
    #discover-page h3 {
        padding: 2rem;
    }

    #discover-page .discover-images img:hover {
        transform: scale(1.01);
    }
}